* {
    box-sizing: border-box;
  }

.hidden {
    display: none;
}

.button {
    background-color: white;
    color: rgb(37, 24, 24);
}
  
.left-half {
    width: 30%;
  }
  
.right-half {
    width: 70%;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden; 
    text-align: center;
}

.front-page {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  .ul {
    font-size: 20px;
  }
