* {
    box-sizing: border-box;
  }

.main-page {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 1.5rem 6rem;
  color: rgb(140, 212, 212);
  position: fixed;
  margin-top: -2%;
  height: 50;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.hidden {
    display: none;
}

.front-page {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.title {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color:rgb(122, 202, 202);
  margin-top: 0px;
  font-size: 120px;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }


  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

li {
  font-size: 22px;
  color: rgb(84, 173, 166);
}
  
input.checkbox {
  width: 17px;
  height: 17px;
}

.motto {
  font-family: 'Raleway', sans-serif;
  color:rgb(108, 187, 187);
}

#results {
  max-height: 200px;
  overflow: auto;
  margin-right: 15px;
}

.level {
  color: rgb(83, 155, 155);
}

.input {
  width: 100%;
}

#newAddress {
  width: 240px;
}

.list-item:hover {
  background-color: lightblue;
}

#viewPinInfo {
  z-index: 1;
  margin-bottom: 20px;
  text-align: center;
}

#clearPinInfo {
  z-index: 1;
  margin-bottom: 20px;
  text-align: center;
}
